app
trash/
.vscode/
build/
__pycache__/
.venv/
venv/
env/
ENV/
.venv/
venv/
env/
.idea/
.vscode/
.DS_Store/
.DS_Store
.idea/
.vscode/
00_test/
inf.py
test.py
*.docx
*.txt
*.tmp
tempCodeRunnerFile.py
training_notebooks/cyshield_face.ipynb
models/resnet50_age_best.pth
