app
trash/
.vscode/
build/
__pycache__/
.venv/
venv/
env/
ENV/
.venv/
venv/
env/
.idea/
.vscode/
.DS_Store/
.DS_Store
.idea/
.vscode/
00_test/
inf.py
test.py
*.docx
*.pdf
tempCodeRunnerFile.py
models/resnet50_age.pth
training_notebooks/cyshield_face.ipynb
models/